.floor-plan-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 32px;
    border: 2px solid black;
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: height .5s,
                -webkit-box-shadow .5s,
                -moz-box-shadow .5s,
                box-shadow .5s,
                width .5s;
}

.floor-plan-item-wrapper:hover {
    width: 102%;
    height: 102%;
    -webkit-box-shadow: 0 0 10px 2px #404040;
    -moz-box-shadow: 0 0 10px 2px #404040;
    box-shadow: 0 0 10px 2px #404040;
}

.floor-plan-item-wrapper h4 {
    font-size: 30px;
}

.bed-bath-feet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.floor-plan-item-wrapper img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 30px;
}

.rent-deposit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCBA91;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
}

.rent-deposit > p {
    font-size: 20px;
}

.availability-button {
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
}

.availability-button:hover {
    background-color: #404040;
}
