/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jacques Francois', serif;
}

button:hover {
    cursor: pointer;
}

body {
    width: 100vw;
    max-width: 100vW;
    height: 100vH;
    max-height: 100vH;
    overflow-x: hidden;
  }

#root {
    width: 100%;
    height: 100%;
    max-width: 100vW;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
