@import ../../helpers

.apartment_item
    display: flex
    gap: 20px
    width: 100%
    background-color: black
    color: white
    border-radius: 15px
    padding: 20px
    justify-content: space-between
