.floor-plans-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 150px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECF2F7;
}

.floor-plans-header-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.floor-plans-wrapper h2 {
    font-size: 60px;
    margin: 30px;
}

.bar {
    height: 3px;
    border-radius: 3px;
    width: calc(100% - 200px);
    background-color: black;
}

.floor-plans-search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 150px;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}

.floor-plans-search-wrapper label {
    display: flex;
    gap: 20px;
    width: 25%;
    height: 100%;
    align-items: center;
}

.floor-plans-inputs {
    height: 60px;
    flex-grow: 1;
    border-radius: 15px;
    border: 1px solid black;
    padding: 15px;
    font-size: 16px;
}

.floor-plans-inputs:focus {
    outline: none;
}

.floor-plan-results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 600px;
    gap: 50px;
    width: 100%;
    background-color: #ECF2F7;
    padding: 50px 100px;
}
